<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Text Transforms</title>

    <style>
      h2{ text-align:center;
           color:green;
           text-transform:uppercase;
           padding:15px;
           margin:10px;
           }

      h5{
          text-transform:none;
          padding:5px;
          text-indent:40px;
          margin:10px;
          }

      h4{
         padding:10px;
         margin:10px 10px;
         font-weight:bold;
         font-size:30px;
         }
    </style>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TextTransform</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="form">Contact Us</a>
      </li>

    </ul>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

  <div>
      <h2 class="head_text">About us page</h2>
      <h4 id="text">Text Transform is a web application where you can enter a random text and you can perform various functions like:</h4>
    <h5 class="fun_text">1. Remove punctuations</h5>
    <h5 class="fun_text">2. Converting to uppercase</h5>
    <h5 class="fun_text">3. New line remover</h5>
    <h5 class="fun_text">4. Extra space remover</h5>
  </div>
  </body>
</html>
